/*! purgecss start ignore */
.hb-header-nav {
    flex-direction: column;
}

.hb-announcement {
    display: none;

    &.active {
        display: block;
        animation: hb-announcement-in .5s ease;
    }

    &.inactivating {
        animation: hb-announcement-out .5s ease;
    }
}

.hb-announcement-bar {
    --#{$prefix}border-opacity: 0.125;

    color: var(--#{$prefix}navbar-color);
    margin-bottom: var(--#{$prefix}navbar-padding-y);
    padding-bottom: var(--#{$prefix}navbar-padding-y);
    transition: .25s ease-in-out;

    a {
        color: var(--#{$prefix}navbar-active-color);
    }

    &:hover {
        background: var(--#{$prefix}body-bg);
        color: var(--#{$prefix}body-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30vh;
        overflow: auto!important;
        padding-top: var(--#{$prefix}navbar-padding-y);
        position: fixed;
        top: 0;
        z-index: 1031;
        
        .hb-announcement {
            display: block!important;
            margin-bottom: .25rem;
        }
    }
}

@keyframes hb-announcement-in {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes hb-announcement-out {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

/*! purgecss end ignore */
