name: lint

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    container:
      image: hugomods/hugo:exts
    steps:
      - uses: actions/checkout@v6
      - run: npm ci
      - run: npm run lint
